<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <header>
            <h1>BLOOD PRESSURE TRACKER</h1>
        </header>

        <form  action="/submit_bp" method="POST">

            <label>SYS
                <input name="systolic" type="number" placeholder="120" required>
            </label>
            <label>mmHg</label>
            <br><br>

            <label> DIA
                <input name="diastolic" type="number" placeholder="80" required>
            </label>
            <label>mmHg</label>
            <br><br>

            <label> Pulse
                <input name="pulse" type="number" placeholder="72" required>
            </label>
            <label>bpm</label>
            <br><br>

            <label>Note
                <textarea name="note" rows="5" cols="40" placeholder="Type your note here"></textarea>
            </label>
            <br><br>

            <button type="submit"> Record</button>
            <br><br>

            <img src="{{url_for('static', filename= 'blood_pressure_image.jpg')}}" 
            alt="Blood pressure testing" width="300" height="250">
        
        </form>

    </main>
    <footer></footer>
</body>

</html>